name: ci
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version-file: '.java-version'
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.node-version'
      - run: npm install
      - run: npm run compile
      - run: npm run build
